* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-font-color: #F6EFEC;
    --nav-font-links: #38182F;
}

/* Code to fix "overflow: hidden" on mobile */

html {
    position: fixed;
    height: 100%;
    overflow: hidden;
}
  
body {
    margin: 0;
    width: 100vw; 
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/* End code for overflow:hidden */


/* No NAV transition on page load */
.no-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/* Navigation -start- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    margin: 0 6rem;
    font-size: 1.2rem;
}

.logo {
    color: var(--nav-font-links);
    font-family: "liebelotte", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-family: "interstate-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.nav-links a {
    color: var(--nav-font-links);
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--heading-font-color);
    transition: 0.3s;
    
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 18px;
    height: 2px;
    margin: 4px;
    background-color: var(--nav-font-links);
    transition: all 0.3s ease;
}

/* Navigation -end- for desktop */


@media screen and (max-width: 768px) {
    /* NAVIGATION -START- */

    nav {
        margin: 0 1rem;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 25vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: .3s ease-in;
        z-index: 1;
        background-color: var(--heading-font-color);
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        border: 1px solid var(--nav-font-links);
        border-radius: 100px;
        padding: 3px;
    }

    /* NAVIGATION -END- */

}

.nav-active {
    transform: translateX(0%);
    box-shadow: 0px 3px 8px #92746A, 0px -3px 8px #92746A;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(20px);;
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 4px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -4px);
}


/* HEADER -START- */

.background-overlay {
    background:url(assets/images/dustyPink-bg.png)no-repeat center;
    background-size: cover;
}

.heading-wrapper {
    display: flex;
    justify-content: space-between;
    height: 40vh;
    margin-bottom: -15rem;
}

.heading-title, .subheading-title {
    width: 35%;
}

.subheading-title {
    display: flex;
    align-items: flex-end;
}

.heading-title h1 {
    padding: 7rem 2rem 3rem;
    font-size: 2.5rem;
    font-family: "basco-std", serif;
    color: var(--heading-font-color);
}

.subheading-title h2 {
    padding: 1rem 2rem 2rem 2rem;
    font-family: "basco-std", serif;
    text-align: right;
    color: var(--heading-font-color);
}

.headshot {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.headshot img {
    width: 50%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .headshot img {
        width: 75%;
        height: auto;
    }

    .heading-wrapper {
        margin-bottom: 7rem;
        height: 30vh;
        flex-wrap: wrap;
    }

    .heading-wrapper h1 {
        padding: 4rem 1rem 1rem .5rem;
    }

    .subheading-title, .heading-title {
        width: 100%;
    }

    .subheading-title h2 {
        padding: 2rem .5rem 1rem 1rem;
        align-items: flex-end;
    }

    .subheading-title {
        display: block;
    }
}

@media screen and (min-width:769px) and (max-width: 1199px) {
    .subheading-title, .heading-title {
        width: 40%;
    }

    .heading-wrapper {
        margin-bottom: -5rem;
        height: 25vh;
    }

    .heading-title h1 {
        padding: 3rem 1rem;
    }


    .subheading-title h2 {
        padding-right: .5rem;
    }
}

@media screen and (min-width: 1200px) {
    .headshot img {
        width: 30%;
        height: auto;
    }


}

@media screen and (max-width: 290px) {
    .heading-wrapper {
        margin-bottom: 10rem;
    }
}

@media screen and (min-width:385px) and (max-width:768px ) {
    .heading-wrapper {
        margin-bottom: 2rem;
    }
}

/* HEADER -END- */

.content-background-overlay {
    background: url(assets/images/palePink-bg.png) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-elements-wrapper {
    width: 75%;
    margin-top: -2rem;
}

.test-box {
    text-align: center;
    background-color: white;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 1.5vh;
    box-shadow: 0px 5px 50px #92746A;
}

.about {
    padding: 2rem 0;
}

@media screen and (max-width: 768px) {
    .content-elements-wrapper {
        width: 90%;
    }
}

