* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/* Navigation -start- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    margin: 0 2rem;
}

.logo {
    color: #50042e;
    font-family: "liebelotte", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links a {
    color: #50042e;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 18px;
    height: 2px;
    margin: 4px;
    background-color: #50042e;
    transition: all 0.3s ease;
}

/* Navigation -end- for desktop */


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    /* NAVIGATION -START- */

    .nav-links {
        position: absolute;
        right: 0px;
        height: 25vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: .3s ease-in;
        z-index: 1;
        background-color: white;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        border: 1px solid #50042e;
        border-radius: 100px;
        padding: 3px;
    }

    /* NAVIGATION -END- */

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(20px);;
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 4px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -4px);
}


/* HEADER -START- */

.background-overlay {
    background: #C39B8D;
}

.heading-title h1 {
    padding: 7rem 2rem 3rem;
    color: white;
    font-size: 3rem;
}

.subheading-title h2 {
    padding: 1rem 2rem 2rem 2rem;
}

.headshot {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.headshot img {
    width: 50%;
    height: auto;
}

.content-background-overlay {
    background-color:aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-box {
    position: relative;
    text-align: center;
    background-color: white;
    width: 85%;
    margin-top: -3rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .headshot img {
        width: 75%;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .headshot img {
        width: 30%;
        height: auto;
    }
}

/* HEADER -END- */